{% extends 'business/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <h1>Profile</h1>
    {% if messages %}
    {% for message in messages %}
    <small {% if message.tags %} class="{{message.tags}}" {% endif %}>{{message}}</small>
    {% endfor %}
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}<br>
        {% for fm in form %}
        {{fm.label_tag}}{{fm}}{{fm.errors|striptags}}<br><br>
        {% endfor %}
        <input type="submit" value="Save">
<!--         
       <div>
        <label for="id_username">Username:</label><input type="text" name="username" value="{{user.username}}" maxlength="150" required id="id_username"><br><br>
        
        <label for="id_first_name">First name:</label><input type="text" name="first_name" value="{{user.first_name}}" maxlength="150" id="id_first_name"><br><br>
        
        <label for="id_last_name">Last name:</label><input type="text" name="last_name" value="{{user.last_name}}" maxlength="150" id="id_last_name"><br><br>
        
        <label for="id_email">Email:</label><input type="email" name="email" value="{{user.email}}" maxlength="254" id="id_email"><br><br>
        
        <label for="id_date_joined">Date joined:</label><input type="text" name="date_joined" value="{{user.date_joined}}" required id="id_date_joined"><input type="hidden" name="initial-date_joined" value="2021-11-12 11:49:22" id="initial-id_date_joined"><br><br>
        
        <input type="submit" value="Save"> -->
       
    </form>
    
</body>
</html>

  </div>
  
</html>  

       </div>
    </form>
</body>
</html>
{% endblock %}