{% extends 'business/base.html' %}
{% load static %}
{% block content %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
          <!-- general form elements -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Student</h3>
            </div>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
            <p>{{error}}</p>
            {% endfor %}
            {% endif %}
                {% for fm in form %}
                {{fm.label_tag}}{{fm}}{{fm.errors|striptags}}<br><br>
                {% endfor %}
                <input type="submit" value="Save">
            </form>
    
        </div>
    </div>
</div>
</section>
{% endblock %}